body {
  background-color: white;
  font-family: arial;
  margin: 0;
}
header {
  top: 0;
  left: 0;
  background-color: black;
  position: fixed;
  width: 100%;
  font-size: 15px;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.30);
  z-index: 10;
}
header h1 {
  margin-left: 5%;
  color: white;
}

.store {
  margin: 100px 5% 0 5%;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.col-side {
  flex: 0 0 140px;
}
#loan {
  background-color: turquoise;
}
#bank {
  background-color: gold;
}
#work {
  color: white;
  background-color: blue;
}
#repay {
  color: white;
  background-color: blueviolet;
}
#sell_computer {
  color: white;
  background-color: chocolate;
}
#buy_now {
  background-color: aqua;
}

.visibility-hidden {
  visibility: hidden;
}

button {
  padding: 12px 15px;
  margin: 5px 2px;
  border-style: none;
  transition: 0.25s;
}
button:hover {
  box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: 0.25s;
  cursor: pointer;
}
button {
  border-radius: 5px;
}
.laptop-dropdown
 {
  width: 100%;
  padding: 5px 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}
#laptop_specs {
  font-size: 14px;
}
/* Money info tables */
table {
  width: 100%;
  margin: 10px 0;
}
.table-left {
  float: left;
}
.table-right {
  float: right;
}
.laptop-dropdown {
  width: 100%;
  padding: 5px 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}

#col1,
#col2,
#col3,
#computer_col  {
  flex: 1;
  margin: 5px;
  padding: 20px;
  border-radius: 20px;
  background-color: rgba(201, 201, 201, 0.1);
}

footer {
  color: white;
  padding: 10px 5% 0 5%;
  background-color: #1e1e1e;
  margin-top: 40px;
  left: 0;
}

@media only screen and (max-width: 992px) {
  .container {
    flex-direction: column;
  }
}